<mapper namespace="com.lulu040108.DAO.dao.IUserDao">
    <!--唯一标识：*.*  statementId-->
    <select id="findAll" resultType="com.lulu040108.DAO.dao.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.lulu040108.DAO.dao.User" parameterType="com.lulu040108.DAO.dao.User">
        select * from user where id = #{id} and username= #{username}
    </select>

</mapper>